<div class="container">
    <h1>Your Random Beer</h1>
    <div>
        <img src="{{randBeer.image_url}}" alt="Picture of {{randBeer.name}}" />
        {{randBeer.name}}
        {{randBeer.description}}
        {{randBeer.tagline}}
        {{randBeer.food_pairing}}
        {{randBeer.brewers_tips}}
    </div>
</div>